.coaches {
  padding-bottom: 140px;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }

  &__container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 60px;

    @include vp-1199 {
      padding: 0 101px;
    }

    @include vp-767 {
      padding: 0 47px;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 48px;
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      margin-bottom: 33px;
      font-size: 42px;
      line-height: 50px;
      text-align: center;
    }

    @include vp-767 {
      margin-bottom: 43px;
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__button {
    position: absolute;
    display: block;
    top: 243px;
    width: 18px;
    height: 34px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    transition: opacity $trans-default;
    cursor: pointer;

    @include vp-767 {
      width: 10px;
      height: 19px;
    }

    @include hover-focus {
      opacity: 0.6;
    }

    @include active {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &--prev {
      background-image: url("../img/svg/icon-arrow.svg");
      transform: rotate(180deg);
      left: 3px;

      @include vp-1199 {
        left: 43px;
        top: 52%;
        transform:
          rotate(180deg)
          translateY(-50%);
      }

      @include vp-767 {
        top: 56%;
        left: 14px;
      }
    }

    &--next {
      background-image: url("../img/svg/icon-arrow.svg");
      right: 3px;

      @include vp-1199 {
        right: 43px;
        top: 61%;
        transform: translateY(-50%);
      }

      @include vp-767 {
        right: 14px;
        top: 61%;
      }
    }
  }

  &__swiper {
    position: relative;
  }

  &__swiper-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__swiper-slide {
    position: relative;
    width: 260px;
    color: $color-default-white;
    cursor: pointer;

    &:hover,
    &:focus {
      .coaches__photo {
        h3 {
          display: none;
        }

        img {
          z-index: -1;
        }
      }

      .coaches__info {
        display: block;
      }
    }

    @include vp-1199 {
      &:active {
        .coaches__photo {
          h3 {
            display: none;
          }

          img {
            z-index: -1;
          }
        }

        .coaches__info {
          display: block;
        }
      }
    }
  }

  &__photo {
    position: relative;

    @include vp-1199 {
      width: 100%;
      height: auto;
    }

    h3 {
      position: absolute;
      left: 50%;
      bottom: 23px;
      z-index: 1;
      width: 160px;
      margin: 0;
      transform: translateX(-50%);
      font-size: 18px;
      line-height: 27px;
      text-align: center;

      @include vp-1199 {
        transform: translateX(-47%);
      }
    }

    img {
      position: relative;
      width: 100%;
      height: auto;
      object-fit: cover;

      @include vp-1199 {
        min-width: 268px;
        min-height: 294px;
        height: auto;
      }

      @media (width: $vp-768) {
        height: 294px;
      }

      @include vp-767 {
        min-width: 226px;
        min-height: 274px;
      }

      @media (width: $vp-320) {
        height: 274px;
      }
    }
  }

  &__info {
    position: absolute;
    z-index: 2;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: 51px 20px 39px;
    background-color: $color-sapphire-89;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $color-default-white rgba($color: $color-default-white, $alpha: 0.2);

    @include vp-767 {
      padding: 42px 25px 28px;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: rgba($color: $color-default-white, $alpha: 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-default-white;
      border-radius: 20px;
      border: 3px solid $color-crimson;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
    }

    span {
      display: block;
      margin-bottom: 30px;
      color: $color-spindle;
      text-align: center;
    }

    ul {
      margin: 0;
      padding-left: 51px;
      list-style: none;

      @include vp-767 {
        padding-left: 25px;
      }
    }

    li {
      position: relative;
      margin-bottom: 13px;
      font-size: 14px;
      line-height: 21px;

      &::before {
        content: "";
        position: absolute;
        top: 7px;
        left: -16px;
        width: 6px;
        height: 6px;
        background-color: $color-default-white;
        border-radius: 50%;
      }
    }
  }
}
