.promo {
  padding-top: 120px;
  padding-bottom: 106px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  &__wrapper {
    display: flex;

    @include vp-1199 {
      justify-content: center;
    }

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__info {
    width: 500px;
    padding: 80px 78px;
    background-color: $color-tourch-red;
    color: $color-default-white;

    @include vp-1199 {
      width: 292px;
      padding: 47px 45px;
    }

    @include vp-767 {
      width: 100%;
    }

    p {
      margin-top: 0;
      margin-bottom: 45px;
      font-size: 18px;
      line-height: 27px;

      @include vp-1199 {
        margin-bottom: 29px;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  &__info-wrapper {
    margin-bottom: 10px;
    display: flex;
    column-gap: 51px;

    @include vp-1199 {
      margin-bottom: 0;
      column-gap: 33px;
    }

    @include vp-767 {
      justify-content: space-between;
      column-gap: 33px;
    }

    h3 {
      max-width: 201px;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 13px;
      padding-top: 6px;
      font-family: $ff-alumni-sans;
      font-weight: 600;
      font-size: 82px;
      line-height: 79px;
      letter-spacing: 0.03em;

      @include vp-1199 {
        max-width: 117px;
        padding-left: 7px;
        padding-top: 4px;
        font-size: 48px;
        line-height: 46px;
      }
    }
  }

  &__info-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 9px;
    align-self: flex-start;
    min-width: 92px;

    @include vp-1199 {
      row-gap: 0;
    }

    @include vp-767 {
      min-width: unset;
    }
  }

  &__info-date {
    display: flex;
    flex-direction: column;

    span {
      font-size: 18px;
      line-height: 27px;

      @include vp-1199 {
        font-size: 12px;
        line-height: 18px;
      }
    }

    time {
      position: relative;
      display: flex;
      column-gap: 5px;
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      width: fit-content;

      @include vp-1199 {
        font-size: 24px;
        line-height: 36px;
      }

      &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        top: 4px;
        left: -2px;
        background-color: $color-default-white;

        @include vp-1199 {
          top: 0;
          left: 0;
        }
      }
    }

    small {
      align-self: center;
      max-width: 40px;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

      @include vp-1199 {
        max-width: 26px;
        font-size: 10px;
        line-height: 15px;
      }
    }
  }

  &__picture {
    width: 660px;
    height: auto;
    background-color: $color-sapphire;

    @include vp-1199 {
      width: 386px;
    }

    @include vp-767 {
      width: 100%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__button {
    width: 100%;
    min-height: 70px;

    @include vp-1199 {
      min-height: 39px;
      font-size: 10px;
      line-height: 12px;
      border: 2px solid $color-default-white;
    }

    @include hover-focus {
      background: $color-sapphire;
    }

    @include active {
      background: $color-sapphire;
      opacity: 0.8;
    }
  }
}
