.reviews {
  padding-bottom: 120px;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 37px;
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    text-align: center;

    @include vp-1199 {
      margin-bottom: 40px;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin-bottom: 43px;
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__container {
    position: relative;
    max-width: 672px;
    padding: 0 56px;
    margin: 0 auto;

    @include vp-1199 {
      max-width: 678px;
    }

    @include vp-767 {
      padding: 0 47px;
      min-width: 290px;
      max-width: unset;
    }
  }

  &__button {
    position: absolute;
    display: block;
    top: 207px;
    width: 16px;
    height: 32px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    transition: opacity $trans-default;
    cursor: pointer;

    @include vp-767 {
      width: 10px;
      height: 19px;
    }

    @include hover-focus {
      opacity: 0.6;
    }

    @include active {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &--prev {
      background-image: url("../img/svg/icon-arrow.svg");
      transform: rotate(180deg);
      left: 0;

      @include vp-1199 {
        top: 54%;
        transform:
          rotate(180deg)
          translateY(-50%);
      }

      @include vp-767 {
        top: 55%;
        left: 15px;
      }
    }

    &--next {
      background-image: url("../img/svg/icon-arrow.svg");
      right: 0;

      @include vp-1199 {
        top: 64%;
        transform: translateY(-50%);
      }

      @include vp-767 {
        right: 15px;
        top: 60%;
      }
    }
  }

  &__swiper {
    box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  }

  &__swiper-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__swiper-slide {
    display: flex;
    column-gap: 28px;
    padding: 62px 62px 58px;
    width: 560px;
    height: auto;
    color: $color-default-white;
    background-color: $color-resolution-blue;
    cursor: pointer;

    @include vp-1199 {
      width: 566px;
      padding: 62px 65px 58px 65px;
    }

    @include vp-767 {
      column-gap: unset;
      padding: 40px 25px 15px 25px;
    }
  }

  &__photo {
    @include vp-767 {
      position: absolute;
      top: 40px;
      left: 41px;
      width: 68px;
      height: 68px;
    }
  }

  &__info {
    max-width: 328px;

    @include vp-767 {
      max-width: unset;
      width: 100%;
    }

    h3 {
      margin-top: -8px;
      margin-bottom: 12px;
      font-size: 20px;
      line-height: 30px;

      @include vp-767 {
        width: 100px;
        line-height: 26px;
        margin-top: 8px;
        margin-bottom: 22px;
        padding-left: 100px;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 22px;

      @include vp-767 {
        text-align: center;
        width: auto;
      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
