.season-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 51px 70px 62px;
  list-style: none;
  background-color: $color-default-white;
  border: 7px solid transparent;

  @include vp-1199 {
    padding: 55px 110px;
    min-height: 448px;
  }

  @include vp-767 {
    padding: 44px 34px;
    min-height: 384px;
  }

  @include hover-focus {
    border-image: $border-gradient;
    border-image-slice: 1;
  }

  @include active {
    border-image: $border-gradient;
    border-image-slice: 1;
    opacity: 0.8;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;

    @include vp-1199 {
      line-height: 29px;
      margin-bottom: 10px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
    }
  }

  span {
    margin-bottom: 65px;
    color: $color-chambray;

    @include vp-767 {
      margin-bottom: 54px;
    }
  }

  &__price {
    display: flex;
    margin-bottom: 33px;

    @include vp-767 {
      margin-bottom: 30px;
      padding-left: 8px;
    }

    span {
      margin: 0;
    }

    span:first-child {
      position: relative;
      z-index: 1;
      font-weight: 700;
      font-size: 60px;
      line-height: 90px;
      color: $color-egyptian-blue;

      @include vp-767 {
        font-size: 48px;
        line-height: 72px;
      }
    }

    span:first-child::before {
      content: attr(data-price);
      position: absolute;
      top: -54px;
      left: -20px;
      font-size: 100px;
      line-height: 150px;
      color: $color-whisper;
      opacity: 0.48;
      z-index: -1;

      @include vp-767 {
        top: -45px;
        left: -19px;
        font-size: 80px;
        line-height: 120px;
      }
    }

    span:last-child {
      position: relative;
      z-index: 1;
      padding-left: 6px;
      font-weight: 700;
      font-size: 55px;
      line-height: 90px;
      color: $color-sapphire;

      @include vp-767 {
        font-size: 46px;
        line-height: 72px;
      }
    }
  }

  &__button {
    width: 100%;
    min-height: 66px;
    border: 2px solid $color-sapphire;
    color: $color-sapphire;

    @include hover-focus {
      border: none;
      background: $button-gradient;
      color: $color-default-white;
    }

    @include active {
      border: none;
      background: $button-gradient;
      color: $color-default-white;
      opacity: 0.8;
    }
  }
}
